.burger {
  //Toggle button start
  &__checkbox {
    display: none;
  }

  &__button {
    display: block;
    //background-color: $color-6;
    margin-left: 6rem;
    height: 6rem;
    width: 6rem;
    z-index: 2000;
    text-align: center;
    // box-shadow: 0 1rem 3rem rgba($color-1, 0.1);
    cursor: pointer;
  }
  //ICON
  &__icon {
    position: relative;
    margin-top: 3rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-2;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  //Toggle functionality
  //FUNCTIONALITY
  &__checkbox:checked ~ &__menu {
    display: flex;
    height: 100vh;
  }

  &__menu {
    display: none;
    position: fixed;
    //border-left: 1px solid $color-3;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 30rem;
    background: $color-3 url(./logo.svg) no-repeat 1rem 0.5rem;
    background-size: auto 5rem;
    align-items: center;
    //justify-content: space-around;
    flex-direction: column;
    list-style: none;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    text-align: center;
    z-index: -1;

    & a {
      &:link,
      &:visited {
        color: $color-2;
        text-decoration: none;
        display: block;
        text-align: center;
        width: 100%;
        padding: 2rem;
      }
      &:hover,
      &:active {
        background-color: rgba(#fff, 0.05);
        //transform: translateY(3px);
      }
      &:first-child {
        margin-top: 6rem;
        border-top: 1px solid $color-2;
      }
    }
  }
}
