.mindmaptext {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  @media (orientation: portrait) {
    width: 100%;
    height: 50%;
  }

  &__saved {
    position: absolute;
    font-size: 1.4rem;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    color: $color-2;
    background: $color-3;
    border: 0px;
    z-index: 1000;
  }
  input,
  textarea {
    font-size: 1.6rem;
    font-family: $font;
    padding: 0.5rem;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0 solid $color-1;
  }
  input {
    font-size: 2rem;
    color: $color-2;
    background: $color-3;
    height: 3rem;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $color-4;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color-3;
  }
}
