.mm {
  &__header {
    position: absolute;
    top: 0;
    right: 0;
    width: 12rem;
    height: 6rem;
    background: $color-3 url(./logo.svg) no-repeat 1rem 0.5rem;
    background-size: auto 5rem;
    text-align: right;
    z-index: 1000;
    // @media (orientation: portrait) {
    //   width: 6rem;
    //   height: 19rem;
    // }
  }

  &__main {
    display: flex;
    overflow: hidden;
    height: 100vh;
    @media (orientation: portrait) {
      flex-direction: column;
    }
  }
}
